.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
/* .alloversearchbar{
    width: 200px;
} */
.custom-toast {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    right: 50%;
  }

.content {
    flex-grow: 1;
    padding: 20px;
}

.topbar {
    width: 100%;
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}
.View-appointment-div-heading{
    padding: 2px 0 2px 10px;
    font-size: 28px;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {

/*     .data-table th:nth-child(2),

    .data-table td:nth-child(2) {
        display: none;
    } */
/*     .alloversearchbar{
        width: 180px;
    } */

    .content {
        padding: 10px;
    }

    .left-side-bar {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }

    .left-side-bar::-webkit-scrollbar {
        width: 1px;
    }

    .left-side-bar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .left-side-bar::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    .left-side-bar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media screen and (max-width: 768px) {

    .landingPage-Table th:nth-child(1),

    .landingPage-Table td:nth-child(1) ,
    .landingPage-Table th:nth-child(4),

    .landingPage-Table td:nth-child(4) ,
    .landingPage-Table th:nth-child(6),

    .landingPage-Table td:nth-child(6) {
        display: none;
    }
    .PaymentTable th:nth-child(1),

    .PaymentTable td:nth-child(1){
        display: none;
    }

    .ReportTable th:nth-child(5),

    .ReportTable td:nth-child(5){
        display: none;
    }

    .InvoicesTable th:nth-child(2),

    .InvoicesTable td:nth-child(2){
        display: none;
    }
/* .alloversearchbar{
    width: 120px;
} */

    .topbar {
        font-size: 0.8rem;
        padding: 10px;
    }

    .data-table {
        font-size: 12px;
    }

    .content {
        padding: 5px;
    }

    .left-side-bar {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }
    
/*     .data-table th:nth-child(0),  
    .data-table td:nth-child(0) {
        display: none;
    } */
     
    .left-side-bar::-webkit-scrollbar {
        width: 1px;
    }

    .left-side-bar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .left-side-bar::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    .left-side-bar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
/* @media screen and (max-width: 320px) {
    .landingPage-Table th:nth-child(2),
    .landingPage-Table td:nth-child(2),
    .landingPage-Table th:nth-child(5),
    .landingPage-Table td:nth-child(5) {
        display: none;
    }

    .alloversearchbar {
        width: 100px;
    }
    .PaymentTable th:nth-child(1),

    .PaymentTable td:nth-child(1){
        display: none;
    }

    .ReportTable th:nth-child(5),

    .ReportTable td:nth-child(5){
        display: none;
    }

    .InvoicesTable th:nth-child(2),

    .InvoicesTable td:nth-child(2){
        display: none;
    }
}
 */
 .consultant-profile-pic {
    width: 120px; /* Adjust size */
    height: 120px;
    object-fit: cover;
    border-radius: 50%; /* Circular shape */
    border: 2px solid #ddd; /* Optional border */
  }
  .consultant-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  