
/* Default styles (for desktop) */
/* Default styles (for desktop) */
.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Mobile: Each element takes full width on small screens */
@media screen and (max-width: 768px) {
    .filter-container {
        display: flex;
        align-items: center;
        /* gap: 5px; */
    }
    .filter-container > input {
        width: calc((100% / 3) - (10px * 2 / 3)); /* Adjusts for the gap */
    }
    .hide-on-mobile {
        display: none;
    }
/*     .filter-container input,
    .filter-container select {
        width: 100%;
    } */
}
